<textarea [(ngModel)]="inputMsg" placeholder="Type your message" (keypress)="keypressed($event)"></textarea>
<div class="row">
    <div id="qnimate" class="popup-box">
        <div class="popup-box-container row flex">
                <div class="popup-head chat-header-content row flex ai-center popupHeader" id="popup-head1">hi</div>
                <div class="popup-messages-history row">hey</div>
                <div class="popup-messages-footer col-sm-12 col-md-12 col-xs-12" style="clear:both;border: darkgray 1px solid;" >hm</div>
        </div>
    </div>
</div>